In [21]:
#Install MySQL Connector python
#!pip install mysql-connector-python

#Import Connector
import mysql.connector as connector

#Connect to the database
connection = connector.connect(user = "capstone", password = "littlelemon456!", db = "littlelemondb")
print("Database connection successful")

#Create cursor instance
cursor = connection.cursor(buffered=True)

Database connection successful

In [22]:
#Show table query
show_tables_query = "SHOW TABLES"
#Execute query
cursor.execute(show_tables_query)

#Print tables in the Database
for table in cursor:
    print(table)

('bookings',)
('customer',)
('delivery status',)
('menu',)
('menuitems',)
('orders',)
('staff',)

In [26]:
#Perform Join Table

join_table_query = '''SELECT customer.CustomerName as FullName, 
customer.CustomerAddress as Address, 
customer.CustomerNumber as PhoneNumber, 
orders.Cost as BillAmount From customer
inner join orders on customer.CustomerID = orders.CustomerID
WHERE orders.Cost > 60'''

#Execute query
cursor.execute(join_table_query)

#print result of join query
col = cursor.column_names
print(col)
#result = cursor.fetchall()
for result in cursor:
    print(result)

('FullName', 'Address', 'PhoneNumber', 'BillAmount')
('Shittu Loveth', '49 Ahmadu Bello way, Lagos', 138540, Decimal('120'))
('Abe Josh', '3a Mcafee drive New York', 3409456, Decimal('75'))